@import 'mixin.scss';
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.head {
  height:50vh;
  width: 100%;
  background-image: linear-gradient(135deg, #b61212 30.001% , white 30.0001%, white 74%, #b61212 74.001%);

  @include respond(phone)
  {
    height: 40vh;
      background-image: linear-gradient(135deg, #b61212 20.001% , white 20.0001%, white 84%, #b61212 84.001%);
  }
  &__logo{
    // background-color: black;
    background-image: url('img/rotaract_logo_red.png');
    background-size: cover;
    height: 30vh;
    width:15vw;
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    animation-name: moveInLeft;
    animation-duration: 2s;
    backface-visibility: hidden;
    @include respond(phone)
    {
      height:20vh;
      width:35vw;

    }
  }
  &__header {
    color: #b61212;
    position: absolute;
    top:128%;
    left: 50%;
    transform: translate(-50%,-50%);
    // background-color:black;
    font-size: 4rem;
  font-family: 'Lato', sans-serif;
    font-weight: bold;

    @include respond(phone)
    {
      font-size: 1.75rem;
    }
  }
  &__nav {
    background-color:whitesmoke;
    height: 5.5vh;
    width:3vw;
    position:absolute ;
    top:43%;
    left: 95%;
    border-radius: 50%;

    @include respond(phone)
    {
      height:4vh;
      width:8vw;
      top: 35%;
      left:88%;
    }
    &__hr1 {
      width:1.5rem;
      position: absolute;
      height: 0.2rem;
      top:25%;
      left:52%;
      transform: translate(-54%);
      background-color:#b61212;
      border: 0;

      @include respond(phone)
      {
        width: 1rem;
        top:23%;
      }
    }
    &__hr2 {
      width:1.5rem;
      position: absolute;
      height: 0.2rem;
      top:50%;
      left:52%;
      transform: translate(-54%);
      background-color:#b61212;
      border:0;

      @include respond(phone)
      {
        width: 1rem;
        top:48%;
      }
    }
    &__hr3 {
      width:1.5rem;
      height: 0.2rem;
      position: absolute;
      top:75%;
      border: 0;
      left:52%;
      transform: translate(-54%);
      background-color:#b61212;

      @include respond(phone)
      {
        width: 1rem;
        top:73%;
      }
    }
    &__table {
      height:10vh;
      width:100%;
      background-color:white;
      display: none;
    }
    &:hover.head__nav {
    }
  }
}

.container
{ background-color:black;
  height:50vh;
  display:grid;
  grid-template-rows:1fr 1fr;
  grid-template-columns:repeat(3,1fr);
  grid-gap:1%;

  @include respond(phone)
  {
    grid-template-rows: repeat(4,1fr);
    grid-template-columns: repeat(4,1fr);
    grid-gap:0;
  }
}


.item
{
  // font-family:sans-serif;
  font-size: 2rem;
  border-right: 0.2rem solid black;
  border-bottom: 0.2rem solid black;
  transition: font-size 0.5s;
  text-align:left;
  position: relative;

@include respond(phone)
{
  font-size: 1rem;
  border-left:  0.2rem solid black;


}


  &__1
  {
  //  background-image: url('img/5000_PNG_for_Word_documents_presentations_and_web_use_AdditionalFile.png');
  //   background-position: center;
  //   background-size: 80% 80%;
  //   background-repeat: no-repeat;
     background-color: #B61212;
     border-radius: 0.8rem ;

     @include respond(phone)
     {
       grid-row: 1/2;
       grid-column: 1/5;
       border-radius: 0.7rem;
     }
  }
   &__2
  {
     background-color:#B61212;
     border-radius:0.8rem;

     @include respond(phone)
     {
       grid-row: 2/3;
       grid-column: 1/5;
       border-radius: 0.7rem;
     }
  }
   &__3
  {
       background-color:#B61212;
     grid-row:1/5;
    grid-column:3/4;
    border-radius: 10%;


    @include respond(phone)
    {
      grid-row: 3/4;
      grid-column: 1/5;
      border-radius: 0.7rem;
    }
  }
   &__4
  {
       background-color:#B61212;
    grid-column:1/3;
    border-radius: 0.8rem;

    @include respond(phone)
    {
      grid-row: 4/5;
      grid-column: 1/5;
      border-radius: 0.7rem;
    }

  }

  &:hover
  {
    font-size: 2.5rem;
  // -moz-box-shadow:    inset 0 0 1rem orangered;
  // -webkit-box-shadow: inset 0 0 1rem orangered;
  //  box-shadow:         inset 0 0 1rem orangered;
   background-color:rgba(0, 0, 0, 1);

   color:orangered;
   -moz-box-shadow:    inset 0 0 10rem #f22727;
   -webkit-box-shadow: inset 0 0 10rem #f22727;
   box-shadow:         inset 0 0 10rem #f22727;

    @include respond(phone)
    {
      font-size: 1.5rem;
      -moz-box-shadow:    inset 0 0 2.5rem #f22727;
      -webkit-box-shadow: inset 0 0 2.5rem #f22727;
      box-shadow:         inset 0 0 2.5rem #f22727;
    }
    .hr
    {
      width: 25%;
      border-color: orangered;
    }
    .hide
    {
      display: block;
    }
    .hide1
    {
      display: none;
      position: absolute;
      text-align: center;

      transform: translate3d(-50%, -50%, 0);
      color: white;
    }
  }
}


.hr
{
  padding-right: 40%;
  width:2rem;
  border-width:0.25rem;
  border-color:black;
  size:2rem;
  align:center;
  transition:width 0.5s;

  @include respond(phone)
  {
    width:1rem;
    size:1rem;
    border-width: 0.1rem;
    position: relative;
    left: 25%;
    top:15%;
  }
}
.hide
{
  display: none;
  transition: display 0.5s;
}
.hide1
{
  display: block;
  transition: display 0.5s;
}
.text
{

  font-size:1.102rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  color: white;
}

.modal{
  display:none;
  position:absolute;
  z-index:1;
  left:50%;
  top:70%;
    transform: translate3d(-50%, -50%, 0);
  overflow: auto;

  @include respond(phone)
  {

  }

}

.modal-content{

  position: relative;
  top:45%;
  transform: scale3d(-50%,0,0);
  //margin: auto;

  width:100%;
  box-shadow: 0 0.5rem 0.8rem 0 rgba(0,0,0,0.2),0 0.7rem 2rem 0 rgba(0,0,0,0.17);
  animation-name:modalopen;
  animation-duration:1s;

  @include respond(phone)
  {

    width:100%;
  }
}

.modal-header h2, .modal-footer h3{
  margin:0;
}

.modal-header{
  background:red ;
  padding:1.5rem;
  color:#fff;

  @include respond(phone)
  {
  padding:3rem;
  }
}

.modal-body{
  padding:1rem 2rem;
  background-color: whitesmoke;
}

.modal-footer{
  background-color:red;
  padding:1rem;
  color:#fff;
  text-align: center;
}

.closeBtn{
  color:#ccc;
  float: right;
  font-size:2rem;
  color:#fff;
}

.closeBtn:hover,.closeBtn:focus{
  color:#000;
  text-decoration: none;
  cursor:pointer;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}



@keyframes moveInLeft
{
  0%
  {
    transform: translate(-200%,-50%) ;
    opacity: 0;
   }

 100%
   {
    transform: translateX(0,-50%);
    opacity: 1;
   }
}
